*{
	padding: 0;
	margin: 0;
}
.content-login{
	width: 50%;
	margin: auto;
	border: 3px solid #5A6794;
	margin-top: 13%;
	border-radius: 4px;
	background: #E7E9EE;
}
.input{
	width: 100%;
	height: 20px;
	border:1px solid #5A6794;
	border-bottom: 1px solid #000000;
	margin-top: 16px;
}
.text-area{
	width: 100%;
	height: 50px;
	border:1px solid #FF8333;
	border-bottom: 1px solid #000000;
	margin-top: 16px;

}
.right{
	float: right;
}
.submit{
	padding: 12px 14px;
	background: #fff;
	color: #1c2135;
	border-radius: 2px;
	border: 1px solid #8794c0;
	margin-top: 16px;
	transition: .3s;
}
.submit:hover{
	background: #8794c0 ;
	color: #fff;
}

.container{
	width: auto;
}
.kiri{
	float: left;
	background: #d8CD80;
	width: 240px;
	height: 770px;
}
.kiri ul{
	margin-top: 150px;
}
.kiri ul a li{
	display: black;
	padding: 20px;
	text-align: center;
	color: #5A6794;
	transition: .3s;
	margin-top: 40px;
}
.kiri ul a{
	text-decoration: none;
}
.kiri ul a li:hover{
	background: #8794C0;
	color: #E7E9EE;
}
.kanan{
	float: right;
	width: 82%;
	border: 1px solid #f1f1f1;
	height: 768px;
	margin-right:0px;
}
#table th{
	padding: 5px;
	background:#5a6794;
	color: #fff;
}
#table td{
	padding: 4px;

}
h1{
	color: #1C2135;
}

}
#main-content{
	width: 100%;
	min-height: auto;
}
#news{
	width: 90%;
	height: 100%;
	margin-right: 30px;
	margin-top: 50px;
	overflow: auto;
	float: right;
	background-color: white;
}
#text{
	margin-right: 40px;
	margin-left: 40px;
	height: 50%;
}
#footer{
	width: 100%;
	height: 150px;
	float: left;
	background-color: #333333;
}